{% extends "base.html" %}

{% block content %}
<div class="col-md-3" style="background-color: ForestGreen;" ></div>

<div class="col-md-6" style="padding-left: 5%; padding-right: 5%;" >

    <div class="row" style="padding-top: 10%; height: 5%;" ></div>

    <div class="row" style="height: 95%;" >
        <p  style="width: 100%; text-align: center; height: fit-content;" >{{message_list_areas}}</p>
        <table>
          <tr>
            <th>{{area_name}}</th>
          </tr>
        {% for area in areas %}
            <tr>
                <td><a href="/production/{{area.id}}/list">{{area.name}}</a></td>
            </tr>
        {% endfor %}
        </table>

    </div>

</div>
<div class="col-md-3" style="background-color: ForestGreen; " ></div>

{% endblock content %}