{% extends "base.html" %}

{% block content %}
<div class="col-md-3" style="background-color: ForestGreen;" ></div>

<div class="col-md-6" style="padding-left: 5%; padding-right: 5%;" >

    <div class="row" style="padding-top: 10%; height: 5%;" ></div>

    <div class="row" style="height: 95%;" >
        <p  style="width: 100%; text-align: center; height: fit-content;" >{{message_list_production_lines}}</p>
        <table>
          <tr>
            <th>{{production_line_name}}</th>
            <th>{{production_line_po_open}}</th>
            <th>{{queue_time}}</th>
          </tr>
        {% for production_line in production_lines %}
            <tr>
                <td><a href="/production/production-orders/{{production_line.id}}/list">{{production_line.name}}</a></td>
                <td>{{production_line.get_op_queue}}</td>
                <td>{{production_line.get_lack_time}}</td>
            </tr>
        {% endfor %}
        </table>
        <button style="height: 5%;" ><a href="/machines/list-area">Inicio</a></button>
    </div>


</div>
<div class="col-md-3" style="background-color: ForestGreen; " ></div>

{% endblock content %}