{% extends "base.html" %}

{% block content %}
<div class="col-md-1" style="background-color: ForestGreen;" ></div>

<div class="col-md-10" style="padding-left: 5%; padding-right: 5%;" >

    <div class="row" style="padding-top: 10%; height: 5%;" ></div>

    <div class="row" style="height: 95%;" >
        <p  style="width: 100%; text-align: center; height: fit-content;" >{{message_list_production_orders}}{{production_line}}</p>
        <input id="datePicker" type="datetime-local" >
        <table id="table" >
          <tr>
            <th>{{production_orders_name}}</th>
            <th>{{dxn_name}}</th>
            <th>{{description_name}}</th>
            <th>{{schedule_amount}}</th>
            <th>{{delivered_amount_sap}}</th>
            <th>{{delivered_amount_dpt}}</th>
            <th>{{pending_amount}}</th>
            <th>{{cicle}}</th>
            <th>{{time_queue}}</th>
            <th>{{final_date}}</th>
          </tr>
        {% for production_order in production_orders %}
            <tr id="tr_{{production_order.order_number}}" >
                <td>{{production_order.order_number}}</td>
                <td>{{production_order.dxn.name}}</td>
                <td>{{production_order.dxn.description}}</td>
                <td>{{production_order.schedule_amount_order}}</td>
                <td>{{production_order.delivered_amount_order_sap}}</td>
                <td>{{production_order.delivered_amount_order_dpt}}</td>
                <td>{{production_order.pending_amount}}</td>
                <td>{{production_order.get_cycle_in_seconds}}</td>
                <td>{{production_order.get_time_queue}}</td>
                <td >{{production_order.get_time_queue}}</td>
            </tr>
        {% endfor %}
        </table>
        <button style="height: 5%;" ><a href="/machines/list-area">Inicio</a></button>
    </div>


</div>
<div class="col-md-1" style="background-color: ForestGreen; " ></div>

{% endblock content %}