{% extends "base.html" %}

{% block content %}
<div class="col-md-3" style="background-color: ForestGreen;" ></div>

<div class="col-md-6" style="padding-left: 5%; padding-right: 5%;" >

    <div class="row" style="padding-top: 10%; height: 30%;" ></div>

    <div class="row" style="height: 40%;" >
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{login}}</p>
            <br>
            <p>{{username}}</p>
            {{ form.username }}
            <br>
            <br>
            <p>{{password}}</p>
            {{ form.password }}
            <br>
            <br>
            <button type="submit">{{submit_label_login}}</button>

        </form>
    </div>

    <div class="row" style="padding-top: 10%;  height: 30%;" ></div>

</div>
<div class="col-md-3" style="background-color: ForestGreen; " ></div>

{% endblock content %}