{% extends "base.html" %}

{% block content %}
<div class="col-md-3" style="background-color: ForestGreen;" ></div>

<div class="col-md-6" style="padding-left: 5%; padding-right: 5%;" >

    <div class="row" style="padding-top: 10%; height: 30%;" ></div>

    <div class="row" style="height: 40%;" >
        <p style="width: 100%; text-align: center; height: fit-content;" >{{ok_message}}</br> {{message}}</p>
    </div>

    <div class="row" style="padding-top: 10%;  height: 30%;" ></div>

</div>
<div class="col-md-3" style="background-color: ForestGreen; " ></div>

{% endblock content %}