{% extends "base.html" %}

{% block content %}
<div class="col-md-3" style="background-color: ForestGreen;" ></div>

<div class="col-md-6" style="padding-left: 5%; padding-right: 5%;" >

    <div class="row" style="padding-top: 10%; height: 30%;" ></div>

    <div class="row" style="height: 40%;" >
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{message_upload_files}}</p>
            <br>
            <div id="loading" style="display:none">
                <p style="color: red;" >{{message_loading}}</p>
                <br>
            </div>

            <div id="form-inputs" style="display:block">
            <p>{{operations}}</p>
            {{ form.file }}
            <br>
            <br>
            <p>{{head}}</p>
            {{ form.file_two }}
            <br>
            <br>
            <button id="upload-file" type="submit">{{submit_label}}</button>
            </div>
        </form>
    </div>

    <div class="row" style="padding-top: 10%;  height: 30%;" ></div>

</div>
<div class="col-md-3" style="background-color: ForestGreen; " ></div>

{% endblock content %}